<div class="container">
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Bustle</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">News <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Entertainment</a></li>
            <li><a href="#">Lifestyle</a></li>
            <li><a href="#">Fashion and Beauty</a></li>
            <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>
    {{outlet}}
  <hr>
  <footer>
    Copyright MR, JK
  </footer>
</div>
